@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;   
}

.container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: linear-gradient(100deg, #00D0CA, #275BE9, #FF04CD);
    background-size: 400% 400%;
    animation: animatedGradient 20s ease infinite;
}

.logo {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;
}

.logo img {
    width: 150px;
    transition: 0.3s;
}

.loginbox {
    width: 65%;
    margin: auto;
    transition: 0.3s;
}

.loginbox .inputBox {
    margin-bottom: 30px;
    transition: 0.3s;
}

.loginbox .inputBox label {
    margin: 10px;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}

.loginbox .inputBox input {
    width: 100%;
    padding: 10px 0;
    padding-left: 14px;
    margin-top: 4px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    outline: white;
    background: transparent;
    border-radius: 50px;
    transition: 0.3s;
}

.checklabel input {
    display: none;
    transition: 0.3s;
}

.checklabel {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    display: block;
    margin-top: -15px;
    margin-left: 10px;
    margin-bottom: 40px;
    color: #fff;
    transition: 0.3s;
}

.checklabel .checkmark {
    position: absolute;
    left: 4px;
    top: 3px;
    border: 0.1em solid #fff;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    transition: 0.3s;
}

.checklabel input:checked+.checkmark::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 9px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: 0.3s;
}

.error{
    display: block;
    width: 60%;
    height: 26px;
    line-height: 26px;
    margin: 0 auto 30px;
    text-align: center;
    transition: 0.3s;
    color: #fff;
    background-color: #ff2020;
    border-radius: 10px;
    animation: bounce 1s ease infinite;
}

input[type=submit] {
    width: 70%;
    height: 50px;
    display: block;
    margin: auto;
    font-size: 24px;
    color: #2E7AE5;
    border: 2px solid #fff;
    outline: white;
    background: #fff;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
}

input[type=submit]:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.account {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.register-link {
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50%{
        transform: translateY(4px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media (min-width: 750px) and (max-width: 1024px) {
    .logo img {
        width: 200px;
    }

    .loginbox {
        width: 55%;
        top: 60%;
    }
}

@media (min-width: 1024px) {
    .logo img {
        width: 230px;
    }

    .loginbox {
        width: 40%;
        top: 64%;
    }
}